.body-area{

    margin-top: 7%;
    box-shadow: 10px 10px 5px gray;
    background-color: #E0E0E0;
}
.body-area .header-top{
    background-color: #ffffff;

}
.body-area .header-top h2{
    text-align: center;
    text-shadow: 1.5px 1.5px gray;
    font-style: italic;
}
